/*  your css code here. If applicable */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero{
	display:flex;
	width: 600px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgb(0,0,0,0.1);
}
.div-1{
	 flex: 2;
}
.div-1>img{
	width:20%;
	height:10%;
	object-fit:fill;
}
.div-2{
	
	text-align:center;
	flex: 3;
	padding:30px;
}
.div-2>button{
	background-color:red;
	padding:10px;
	color:white;
	border:none;
}